.download{
&__container{
    text-align: center;
    padding: 114px 170px;

    @include tablet{
        padding: 78px 20px; 
    }
    @include mobile{
        padding: 45px 20px; 
    }
}

&__title{
    margin-bottom: 47px;
    @include tablet{
        margin-bottom: 21px;
    }
}

&__description{
    margin-bottom: 50px;

    @include tablet{
        margin-bottom: 45px;
    }
    @include mobile{
        margin-bottom: 13px;
    }
}
}