.download{
&__container{
    text-align: center;
    padding-top: 114px;
    padding-bottom: 114px;

    @include tablet{
        padding-top: 78px;
        padding-bottom: 78px;
    }
    @include mobile{
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

&__title{
    margin-bottom: 47px;
    @include tablet{
        margin-bottom: 21px;
    }
}

&__description{
    margin-bottom: 50px;

    @include tablet{
        margin-bottom: 45px;
    }
    @include mobile{
        margin-bottom: 13px;
    }
}
}