@use "sass:map";

.hero {
  background-image: url(../images/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background: map.get($colors, "darkBlue");
    mix-blend-mode: normal;
    opacity: 0.8;
  }

  &__container {
    padding-top: 100px;

    @include tablet {
      padding-top: 0;
    }

    @include mobile {
      padding-top: 0;
    }
  }
  
&__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}
  &__content.active {
    opacity: 0;
  }

  &__title {
    text-align: center;
    color: map.get($colors, "white");
    padding: 130px 0 31.43px;

    @include tablet {
      font-size: rem(48px);
      line-height: rem(56px);
      padding: 257px 0 61.86px;
    }

    @include mobile {
      font-size: rem(36px);
      line-height: rem(42px);
      padding: 106px 0 32.71px;
    }
  }

  &__description {
    text-align: center;
    color: map.get($colors, "white");

    @include tablet {
      font-size: rem(18px);
      line-height: rem(21px);
    }

    @include mobile {
      font-size: rem(14px);
      line-height: rem(16px);
    }
  }

  &__button {
    margin: 82px auto;

    @include tablet {
      margin: 92px auto;
    }

    @include mobile {
      margin-top: 51.1px;
      margin-bottom: 52px;
    }
  }
}
