.team {
  &__container {
    padding-top: 114px;
    padding-bottom: 114px;

    @include tablet {
      padding-top: 78px;
      padding-bottom: 78px;
    }
    @include mobile {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    @include tablet {
      gap: 25px;
    }
    @include mobile {
      flex-direction: column;
    }
  }
}
